@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: auto;
}

/* Navbar */
.nav-item {
    font-weight: bold;
}

/* About */

/* About-top */
.about-top {
    height: 600px;
    background-color: #E2E1E1;
    overflow: hidden;
}

.about-top-content {
    margin-top: 110px;
}

.about-top-content-company {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.about-top-content-title {
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px;
}

/* About mid */
.about-mid {
    height: 600px;
    background-color: #F5F5F5;
}

.main-mid-content {
    display: flex;
    /* membuat konten ditengah */
    justify-content: center;
    clear: left;
}

.content-icon{
    width: 25%;
    padding: 70px;
    margin: 40px;
}

.content-icon img {
    width: 180px;
}

.content-icon-title {
    text-align: center;
    margin-top: 29px;
    margin-bottom: 20px;
}

.content-icon-text {
    text-align: justify;
}


/* About end */
.about-end {
    height: 600px;
    width: auto;
    background-color: #E2E1E1;
}

.header-end {
    padding-top: 35px;
    text-align: center;
}

.google-maps {
    align-items: center;
}

.mapouter {
    margin-top: 20px;
}

/* Footer */
.footer {
    height: 300px;
    background-color: #000;
}

.footer-content {
    text-align: center;
}

.footer-logo {
    margin-top: 55px;
    margin-bottom: 25px;
}

.footer-nav a{
    text-decoration: none;
    color: #ffff;
    margin-left: 20px;
}

.copyright {
    margin-top: 50px;
}

.copyright p {
    background-color: #FFC632;
    color: white;
    padding: 5px;
}

/* RESPONSIVE */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    /* about top */
    .about-top-content-company p, .about-top-content-creator p {
        font-size: 5px;
    }
    .about-top-content-title {
        font-size: 40px;
    }
    .about-top-content-right img {
        width: 200px;
        height: 168px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    /* about top */
    .about-top-content {
        width: auto;
    }
    .about-top-content-company, .about-top-content-creator {
        font-size: 15px;
    }
    .about-top-content-title {
        font-size: 60px;
    }
    .about-top-content-right img {
        width: 200px;
        height: 168px;
    }

    /* about-mid */
    .content-icon{
        width: 25%;
        padding: 55px;
        margin: 25px;
    }
    .content-icon img {
        width: 130px;
    }
    .content-icon p {
        font-size: 15px;
        width: 130px;
    }
    .content-icon h4 {
        width: 130px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* about top content */
   .about-top-content-title {
        width: 557px;
   }
   .content-icon p {
        font-size: 15px;
        width: 180px;
   }
   .content-icon h4 {
        width: 180px;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}